doctype html
html
	body(style='font-family:Verdana,Arial,sans-serif;font-size:10px;color:#666;text-align:center;padding:4px;') This is an archive of the <a href="http://en.wikipedia.org/wiki/Interaction_Design_Institute_Ivrea" target="_top">Interaction Design Institute Ivrea</a> websites as captured in May of 2006.
