html
	frameset(rows='30px,*')
		frame(frameborder='0', noresize='noresize', src='/proxy-header.html')
		frame(frameborder='0', noresize='noresize', src='/proxy-body.html?src='+encodeURIComponent(src))
